header{
    
    background-color: black;
    margin: 0px 0px 0px 0px;

}
header p{
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(143, 50, 50);
    border: 1px solid black;
    -webkit-text-stroke: .5px #FFF;
    text-shadow: 1px -1px 10px #fff;
    text-transform: capitalize;
    font-size: 6ch;
    margin: 0px -1px; 
}
