.container {
  text-align: center;
  align-items: center;
  width: 100%;
  border: 0px solid #282c34;
  margin: 0em;
  border-radius: 5px;
}
.App {
  display: inline-block;
  text-align: center;
  width: 480px;
  border: 1px solid #282c34;
  margin: 1em;
  border-radius: 5px;
}
.controles{
  text-align: right;
  display: inline-block;
  height: 45%;
  padding: -5px;
  margin: 0em;
  border-radius: 5px;

}
.controles input{
  margin-top: -5px;
  margin-bottom: -5px;
  padding: 0px;
}
.componente{
  text-align: center;
  display: inline-block;
  height: 45%;
  
  margin: 1em;
  border-radius: 5px;

}





textarea {
  resize: none;
  border: none;
  border-radius: 520px;
}

#vermelho {
  -webkit-appearance: none;
  margin-right: 0px;
  width: 200px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#ff4500, #ff4500);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#verde {
  -webkit-appearance: none;
  margin-right: 0px;
  width: 200px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#07fc3c, #057c0b);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#azul {
  -webkit-appearance: none;
  margin-right: 0px;
  width: 200px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#0026ff, #33086b);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}